.dialog-title {
  text-align: center;
  font-family: tenez, 'Georgia', serif;
  color: #175038;
  font-size: 30px;
  font-weight: 600;
}

.dialog-content {
  margin: 8px 0;
  padding: 0;
  p {
    text-align: center;
  }
}

.dialog-actions {
  justify-content: center;
}
