<main *ngIf="(invitationLoading$ | async) === false; else loading">
  <div class="guests">
    <p *ngFor="let guest of guests$ | async">
      {{ guest.firstName }} {{ guest.lastName }}
    </p>
  </div>

  <img class="divider-line" src="../../assets/line.svg" alt="divider">
  
  <section>
    <p class="rsvp-text narrow">Please join us at 3 PM for our backyard ceremony at 42 Dayton Ave.</p>
  
    <p class="rsvp-text narrow">Followed by a reception at 5 PM down the street at Posticino, 755 The Queensway.</p>
  </section>

  <img class="divider-line" src="../../assets/line-flipped.svg" alt="divider">

  <app-map class="map"></app-map>

  <img class="divider-line" src="../../assets/line.svg" alt="divider">

  <form class="rsvp-form" [formGroup]="rsvpForm" (ngSubmit)="submitRsvp()" *ngIf="(rsvpAlreadySubmitted$ | async) === false || (editRsvp$ | async); else submitted">
    <p class="rsvp-text bold">Please fill out the form below to RSVP for each guest by April 1, 2023.</p>

    <ng-container formArrayName="guests">
      <div *ngFor="let guest of rsvpFormGuests; let i = index" [formGroupName]="i" class="guest-container" >
        <div class="name-container">
          <p>{{ guest.get('firstName')?.value }} {{ guest.get('lastName')?.value }}</p> 
        </div>

        <mat-radio-group class="rsvp-container top-margin" formControlName="rsvp" (change)="changeRsvpSelection($event, i)">
          <mat-radio-button color="primary" [value]="true">Yes, I'll be there.</mat-radio-button> 
          <div class="rsvp-details">
            <mat-checkbox color="primary" formControlName="rsvpCeremony" (change)="validateRsvpSubselection(i)">at the ceremony</mat-checkbox>
            <mat-checkbox color="primary" formControlName="rsvpReception" (change)="validateRsvpSubselection(i)">at the reception</mat-checkbox>
          </div>
          <mat-radio-button color="primary" [value]="false">Sorry, can't make it.</mat-radio-button>
        </mat-radio-group>
      </div>
    </ng-container>

    <div class="email-container">
      <label for="email" class="rsvp-text bold">Email</label>
      <input class="email-input" id="email" type="text" formControlName="email">
      <p *ngIf="rsvpForm.controls['email'].hasError('email')" class="email-error">Please enter a valid email.</p>
    </div>
  
    <p class="rsvp-text bold no-margin">Any special accomodations to note?</p>

    <p class="rsvp-text no-margin">Dietary restrictions, allergies, etc...</p>

    <textarea formControlName="notes" class="notes-textarea"></textarea>

    <button type="submit" [disabled]="rsvpForm.invalid || (rsvpSubmitLoading$ | async)">
      <mat-spinner
        *ngIf="rsvpSubmitLoading$ | async; else loginLoaded"
        diameter="24"
        class="loading-spinner"
      ></mat-spinner>
      <ng-template #loginLoaded>Submit</ng-template>
    </button>
  </form>

  <img class="divider-line" src="../../assets/line-flipped.svg" alt="divider">

  <ng-template #submitted>
    <h2 class="thank-you-text">Thank you!</h2>
  
    <p class="registry-text">Your RSVP has been submitted with the following information: </p>
  
    <div class="rsvp-confirmation">
      <div *ngFor="let guest of guests$ | async" class="guest-container">
        <div class="name-container">
          <p>{{ guest.firstName }} {{ guest.lastName }}</p> 
        </div>
  
        <div class="rsvp-container">
          <div class="rsvp-details" [ngSwitch]="guest.rsvp">
            <p *ngSwitchCase="true">
              <span>Will attend </span>
              <span *ngIf="guest.rsvpCeremony && guest.rsvpReception">ceremony & reception.</span>
              <span *ngIf="guest.rsvpCeremony && !guest.rsvpReception">ceremony only.</span>
              <span *ngIf="!guest!.rsvpCeremony && guest.rsvpReception">reception only.</span>
            </p>
            <p *ngSwitchCase="false">Unable to attend.</p>
          </div>
        </div>
      </div>

      <div class="note-container">
        <p class="note-title">Email</p>
        <p class="note-text">{{ (invitation$ | async)?.email || 'N/A' }}</p>
      </div>

      <div class="note-container">
        <p class="note-title">Note: </p>
        <p class="note-text">{{ (invitation$ | async)?.notes || 'N/A'  }}</p>
      </div>
    </div>
  
    <p class="registry-text"><a routerLink="./" (click)="toggleEditRsvp()">Click here</a> to edit your invitation by April 1, 2023.</p>

    <img class="flourish" src="../../assets/flourish.svg" alt="flourish decoration">
  
    <p class="registry-text">For gift ideas, please check out <a target="_blank" href="https://www.myregistry.com/giftlist/gavynandjacqueline">our registry</a>.</p>
  </ng-template>
</main>

<ng-template #loading>
  <main class="loading-skeleton">
    <mat-spinner></mat-spinner>
  </main>
</ng-template>  