<main *ngIf="(invitationLoading$ | async) === false; else loading">
  <div class="guests">
    <p *ngFor="let guest of guests$ | async">
      {{ guest.firstName }} {{ guest.lastName }}
    </p>
  </div>

  <img class="divider-line" src="../../assets/line.svg" alt="divider">
  
  <section>
    <p class="rsvp-text narrow">Please join us at 3 PM for our backyard ceremony at 42 Dayton Ave.</p>
  
    <p class="rsvp-text narrow">Followed by a reception at 5 PM down the street at Posticino, 755 The Queensway.</p>
  </section>

  <img class="divider-line" src="../../assets/line-flipped.svg" alt="divider">

  <app-map class="map"></app-map>

  <img class="divider-line" src="../../assets/line.svg" alt="divider">

  <form class="rsvp-form" [formGroup]="rsvpForm" (ngSubmit)="submitRsvp()" *ngIf="(rsvpAlreadySubmitted$ | async) === false || (editRsvp$ | async); else submitted">
    <p class="rsvp-text bold">Please fill out the form below to RSVP for each guest by February 1, 2023.</p>

    <ng-container formArrayName="guests">
      <div *ngFor="let guest of rsvpFormGuests; let i = index" [formGroupName]="i" class="guest-container" >
        <div class="name-container">
          <p>{{ guest.get('firstName')?.value }} {{ guest.get('lastName')?.value }}</p> 
        </div>

        <div class="rsvp-container">
          <label for="rsvp-yes">
            <input type="radio" id="rsvp-yes" [value]="true" formControlName="rsvp" />
            Yes, I'll be there.
          </label>
          <div class="rsvp-details">
            <label for="rsvp-ceremony">
              <input type="checkbox" id="rsvp-ceremony" name="rsvp-yes-details" formControlName="rsvpCeremony">
              at the ceremony
            </label>
            <label for="rsvp-reception">
              <input type="checkbox" id="rsvp-reception" name="rsvp-yes-details" formControlName="rsvpReception">
              at the reception
            </label>
          </div>
          <label for="rsvp-no">
            <input type="radio" id="rsvp-no" [value]="false" formControlName="rsvp" />
            Sorry, can't make it.
          </label>
        </div>
      </div>
    </ng-container>

  
    <p class="rsvp-text bold no-margin">Any special accomodations to note?</p>

    <p class="rsvp-text no-margin">Dietary restrictions, allergies, etc...</p>

    <textarea formControlName="notes" class="notes-textarea"></textarea>

    <button type="submit" [disabled]="rsvpForm.invalid || (rsvpSubmitLoading$ | async)">
      <mat-spinner
        *ngIf="rsvpSubmitLoading$ | async; else loginLoaded"
        diameter="24"
        class="loading-spinner"
      ></mat-spinner>
      <ng-template #loginLoaded>Submit</ng-template>
    </button>
  </form>

  <img class="divider-line" src="../../assets/line-flipped.svg" alt="divider">

  <ng-template #submitted>
    <h2 class="thank-you-text">Thank you!</h2>
  
    <p class="registry-text">Your RSVP has been submitted with the following information: </p>
  
    <div class="rsvp-confirmation">
      <div *ngFor="let guest of guests$ | async" class="guest-container">
        <div class="name-container">
          <p>{{ guest.firstName }} {{ guest.lastName }}</p> 
        </div>
  
        <div class="rsvp-container">
          <div class="rsvp-details" [ngSwitch]="guest.rsvp">
            <p *ngSwitchCase="true">
              <span>Will attend </span>
              <span *ngIf="guest.rsvpCeremony && guest.rsvpReception">ceremony & reception.</span>
              <span *ngIf="guest.rsvpCeremony && !guest.rsvpReception">ceremony only.</span>
              <span *ngIf="!guest!.rsvpCeremony && guest.rsvpReception">reception only.</span>
            </p>
            <p *ngSwitchCase="false">Unable to attend.</p>
          </div>
        </div>
      </div>

      <div class="note-container">
        <p class="note-title">Note: </p>
        <p class="note-text">{{ (invitation$ | async)?.notes || 'N/A'  }}</p>
      </div>
    </div>
  
    <p class="registry-text"><a routerLink="./" (click)="toggleEditRsvp()">Click here</a> to edit your invitation by February 1, 2023.</p>

    <img class="flourish" src="../../assets/flourish.svg" alt="flourish decoration">
  
    <p class="registry-text">For gift ideas, please check out <a target="_blank" href="https://www.myregistry.com/giftlist/gavynandjacqueline">our registry</a>.</p>
  </ng-template>
</main>

<ng-template #loading>
  <main class="loading-skeleton">
    <mat-spinner></mat-spinner>
  </main>
</ng-template>  