<main>
  <div class="guests">
    <p>Jason Wong</p>
    <p>Laura Chen</p>
    <p>Reginald Wong</p>
  </div>

  <img class="divider-line" src="../../assets/line.svg" alt="divider">
  
  <section>
    <p class="rsvp-text">Please join us at 2 PM for our backyard ceremony at 42 Dayton Ave.</p>
  
    <p class="rsvp-text">Followed by a reception at 5 PM down the street at Posticino (755 The Queensway).</p>
  </section>

  <img class="divider-line" src="../../assets/line-flipped.svg" alt="divider">

  <!-- TODO put map here -->

  <img class="divider-line" src="../../assets/line.svg" alt="divider">

  <section>
    <p class="rsvp-text bold">Please fill out the form below to RSVP for each guest.</p>
  
    <p class="rsvp-text bold">Any special accomodations to note?</p>

    <p class="rsvp-text">Dietary restrictions, allergies, etc...</p>

  </section>

  <img class="divider-line" src="../../assets/line-flipped.svg" alt="divider">

  <h2>Thank you!</h2>

  <img src="../../assets/flourish.svg" alt="">

  <p>For gift ideas, please check out our registry.</p>
</main>