.loading-spinner {
  margin: 0 auto;
}

.title-image {
  margin: 30px auto 30px;
  max-width: 800px;
}

.welcome-date {
  font-family: tenez, 'Georgia', serif;
  font-size: 40px;
  text-align: center;
  color: #175038;
  margin-bottom: 24px;
  @media (max-width: 480px) {
    font-size: 32px;
  }
}

.welcome-text {
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
  &.narrow {
    max-width: 350px;
  }
}

.welcome-form {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .welcome-input {
    border: 2px solid black;
    border-radius: 0;
    background-color: white;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 8px;
    height: 50px;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    &:focus,
    &:hover {
      --box-shadow: none;
      border: 2px solid #BC9D51;
      outline: none;
    }
  }
}

.registry-link {
  margin: 40px 0;
}
