<main>
  <img class="title-image" src="../../assets/gavynandjacqueline.svg" alt="Gavyn and Jacqueline">
  
  <h1 class="welcome-date">Sunday, June 11, 2023</h1>

  <img class="divider-line" src="../../assets/line.svg" alt="divider">
  
  <section>
    <p class="welcome-text">Join us in celebrating the life we've built together and the adventures that await.</p>
  
    <p class="welcome-text narrow">Guests, please enter your password for event details and to RSVP:</p>
  
    <form class="welcome-form" [formGroup]="loginForm" (ngSubmit)="login()">
  
      <input class="welcome-input" type="text" formControlName="userCode" />

      <button type="submit" [disabled]="loginForm.invalid || (loginLoading$ | async)">
        <mat-spinner
          *ngIf="loginLoading$ | async; else loginLoaded"
          diameter="24"
          class="loading-spinner"
          color="accent"
        ></mat-spinner>
        <ng-template #loginLoaded>Submit</ng-template>
      </button>
  
    </form>
  </section>

  <img class="divider-line" src="../../assets/line-flipped.svg" alt="divider">
</main>
