.loading-spinner {
  margin: 0 auto;
}

.welcome-form {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .welcome-input {
    border: 2px solid black;
    border-radius: 0;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 8px;
    height: 50px;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    &:focus,
    &:hover {
      --box-shadow: none;
      border: 2px solid #BC9D51;
    }
  }

  button[type="submit"] {
    max-width: 100px;
    min-width: 80px;
    border-radius: 999px;
    background-color: #175038;
    border: none;
    height: 40px;
    padding-top: 6px;
    padding-bottom: 8px;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    color: white;
    &:focus,
    &:hover {
      --box-shadow: none;
      background-color: #BC9D51;
    }
  }
}
