/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body { 
  margin: 0;
  background-color: #E7EBEA;
  min-height: 100vh;
}

main { 
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  @media (max-width: 800px) {
    width: 90%;
  }
}

p {
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  margin: 0.5rem 0;

}

img {
  display: block;
}

.divider-line {
  max-width: 500px;
  margin: 40px auto;
}

button[type="submit"],
.close-button {
  width: 100px;
  border-radius: 999px;
  background-color: #175038;
  border: none;
  height: 40px;
  padding-top: 6px;
  padding-bottom: 8px;
  margin-bottom: 0;
  font-weight: 500;
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
  color: white;
  &:focus,
  &:hover {
    --box-shadow: none;
    background-color: #BC9D51;
    outline: none;
  }
}

.guests {
  margin: 40px auto;
  p {
    color: #175038;
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2px;
    font-family: tenez, 'Georgia', serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0;
    @media (max-width: 800px) {
      font-size: 75px;
    }
    @media (max-width: 480px) {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 0;
    }
  }
}

.rsvp-text,
.registry-text {
  text-align: center;
  margin: 1rem auto;
  &.narrow {
    max-width: 390px; 
  }
  &.bold {
    font-weight: bold;
  }
  &.no-margin {
    margin: 0;
  }
}

.map {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}


:where(button[type="submit"])[disabled] {
  opacity: 1;
  background-color: #95A9A4 !important;
}

.thank-you-text {
  text-align: center;
  font-family: tenez, 'Georgia', serif;
  font-weight: bold;
  font-style: italic;
  color: #175038;
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 24px;
  @media (max-width: 480px) {
    font-size: 40px;
  }
}

.flourish {
  max-width: 80px;
  margin: 24px auto;
}

a {
  color:#175038;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
  }
}

.custom-dialog-container .mat-dialog-container {
  padding: 28px 40px 40px;
}

