/* You can add global styles to this file, and also import other style files */
@import url("@picocss/pico/css/pico.min.css");

body { 
  margin: 0;
  background-color: #E7EBEA;
  min-height: 100vh;
}

main { 
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  width: 80%;
  @media (max-width: 800px) {
    width: 90%;
  }
}

.welcome-date {
  font-family: tenez, 'Georgia', serif;
  font-size: 40px;
  text-align: center;
  color: #175038;
  @media (max-width: 480px) {
    font-size: 24px;
  }
}

p {
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  margin: 0.5rem 0;
}

.welcome-text {
  text-align: center;
  max-width: 400px;
  margin: 40px auto;
  &.narrow {
    max-width: 350px;
  }
}

img {
  display: block;
}

.title-image {
  margin: 40px auto 60px;
  max-width: 800px;
}

.divider-line {
  max-width: 500px;
  margin: 50px auto;
  &.flipped {
    transform: rotate(180deg);
  }
}

section {
  margin: 0 !important;
}

.welcome-form {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .welcome-input {
    border: 2px solid black;
    border-radius: 0;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 8px;
    height: 50px;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    &:focus,
    &:hover {
      --box-shadow: none;
      border: 2px solid #BC9D51;
    }
  }

  button[type="submit"] {
    max-width: 120px;
    border-radius: 999px;
    background-color: black;
    border: none;
    height: 50px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    &:focus,
    &:hover {
      background-color: #BC9D51;
    }
  }
}



.guests {
  margin: 40px auto;
  p {
    color: #175038;
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2px;
    font-family: tenez, 'Georgia', serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0;
    @media (max-width: 800px) {
      font-size: 75px;
    }
    @media (max-width: 480px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
}

.rsvp-text,
.registry-text {
  text-align: center;
  margin: 1rem auto;
  &.narrow {
    max-width: 390px; 
  }
  &.bold {
    font-weight: bold;
  }
}

.map {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

.rsvp-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .notes-textarea {
    max-width: 300px;
    height: 120px;
    border: 2px solid black;
    border-radius: 0;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 8px;;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    &:focus,
    &:hover {
      --box-shadow: none;
      border: 2px solid #BC9D51;
    }
  }

  button[type="submit"] {
    max-width: 120px;
    border-radius: 999px;
    background-color: black;
    border: none;
    height: 50px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    &:focus,
    &:hover {
      background-color: #BC9D51;
    }
  }
}

.thank-you-text {
  text-align: center;
  font-family: tenez, 'Georgia', serif;
  font-weight: bold;
  font-style: italic;
  color: #175038;
  font-size: 60px;
  margin-bottom: 0;
  @media (max-width: 480px) {
    font-size: 40px;
  }
}

.flourish {
  max-width: 80px;
  margin: 24px auto;
}

